body {
    background-color: hsl(212, 45%, 89%);
    font-weight: 400, 700 ;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
}

.whole {
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: center;
    height: 500px;
    border-radius: 18px;
    margin: 180px auto;
    box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.1);
}

.qr-code {
    width: 300px;
    height: auto;
    border-radius: 12px;
}

h1 {
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}
 
p {
    font-size: 18px;
}