@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color:  hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    /* overflow: hidden; */
}
main {
    margin: 5rem;
}

.attribution {
    margin-top: -20px;
}

h1 {
    color: hsl(179, 62%, 43%);
}

h2 {
    color:hsl(204, 43%, 93%);
}

span {
    color: hsl(204, 43%, 93%);
    font-weight: 700;
    font-size: 30px;
}

.second {
    color: hsl(204, 43%, 93%);
    font-weight: lighter;
}

#yellow {
    color: hsl(71, 73%, 54%);
}

.first {
    color: hsl(218, 22%, 67%);
}

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    width: 44rem;
    background-color: white;
    padding: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.price {
    display: grid;
    width: 304px;
    height: 225.5px;
    padding: 1.5rem 3rem 3rem 3rem;
    background-color: hsl(179, 62%, 43%);
    line-height: 10px;
    border-bottom-left-radius: 10px;
}

button {
    cursor: pointer;
    border: 0;
    text-decoration: none;
    color: white;
    background-color: hsl(71, 73%, 54%);
    padding: 0.75em 1.5em;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0.1px 2px 15px hsla(0, 0%, 0%, 0.159);
}

.third {
    color: hsl(204, 43%, 93%);
    margin-top: 10px;
    margin-bottom: 40px;
}

.desc {
    width: 273px;
    height: 225.5px;
    padding: 1.5rem 5rem 3rem 3rem;
    background-color: hsl(179, 62%, 47%);
    color: hsl(204, 43%, 93%);
    border-bottom-right-radius: 10px;
}

.fourth {
    line-height: 5px;
    font-weight: 300;
    font-size: 15px
}